body {
    font-family: Arial, sans-serif;
    /* background: #15bfcb url() center center/cover no-repeat content-box; */
  }
  

  
  .section-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .drag-drop-section,
  .enter-question-section {
    width: 50%; /* Each section takes half of the container */
  }
  
  .drag-drop-section {
    float: left; /* Align to the left */
  }
  
  .enter-question-section {
    float: right; /* Align to the right */
  }
  
  .preview-section,
  .answer-section {
    width: 100%; /* Each section takes full width */
    margin-top: 20px;
  }
  
  .preview-section,
  .answer-section,
  .drag-drop-section,
  .enter-question-section {
    background-color: #fff; /* White background for specific sections */
    padding: 20px;
    border-radius: 0; /* Make sections square */
  }
  
  #drop-zone {
    background-color: #fff; /* White background for drag-and-drop field */
    border: 2px dashed #ccc;
    padding: 20px;
    cursor: pointer;
    text-align: center;
  }
  
  textarea {
    width: calc(100% - 40px); /* Subtract padding from width */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px; /* Optional: adds rounded corners */
  }
  
  button {
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Optional: adds rounded corners */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  